
.settings{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: unset;
}

.answeredQuestions {
    min-height: 0px;
    overflow: auto;

    ul {
        width: 16rem;
    }
}

.questionText {
    font-size: 8rem;
}

.remainingTime {
    font-size: 4rem;
}
