
.settings{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: unset;
}

.answeredQuestions {
    min-height: 0px;
    overflow: auto;
    width: 300px;
}

.questionText {
    font-size: 8rem;
    text-align: center;
}

.remainingTime {
    font-size: 4rem;
}

.alert {
    font-weight: 400;
    font-size: 6rem;
}
