
<button class="settings" (click)="showSettings()"><fa-icon [icon]="faCog" ></fa-icon></button>

<div class="d-flex h-100">

    <div class="answeredQuestions" *ngIf="answeredQuestions.length > 0">
        <h4>Answered Questions:</h4>

        <ul>
            <li *ngFor="let question of answeredQuestions">
                {{question.text}}
            </li>
        </ul>
    </div>

    <div class="flex-grow-1 h-100 d-flex justify-content-center align-items-center">

        <h4 *ngIf="!hasQuestions">No Questions!</h4>

        <div class="d-flex flex-column align-items-center">
            <div *ngIf="state === 'complete'" class="alert alert-danger">Time's Up</div>

            <div *ngIf="question != null" class="d-flex">
                <div class="questionText">{{question.text}}</div>
            </div>
    
            <div class="remainingTime" *ngIf="state === 'running'">{{remainingTime}}</div>

            <button *ngIf="state === 'start'" (click)="startTimer()" class="btn btn-primary btn-lg">Start</button>
            <button *ngIf="state === 'spin' || state === 'complete'" (click)="startSpin()" class="btn btn-primary btn-lg">Spin</button>
        </div>
    </div>
</div>

